$max-width: 1200px;
$primary-color: #EF6D6D;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$active-color: #1f2eff;
$notification-color: #ea1e1e;
$silver-color: #b8b8c7;
$sea-color: #02ccba;
$footer-color: #fafafa;
$bg-image:url('../img/oakapak.jpg')